<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>The Wade App</title>
    <link href="../style/theme/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
    <h1>On Project 1</h1>
    <p>Project 1: Calculator <br> 
      Project 2: Unit Converter <br>
      Project 3: Ride PLanner <br>
      Project 4: Budget <br>
      Project 5: Travel PLanner
    </p>
    
    <p>TODO Project 1 <br>
        -Make a Menu System <br>
        - Make secondary window as child of this one. 
    </p>


  </body>
</html>
