<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>The Wade App</title>
    <link href="../style/theme/bootstrap.css" rel="stylesheet" />
    <link href="../style/index.css" rel="stylesheet" />
    <!--Fonts for Logo-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- Nav Bar-->
    <header>
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">F + M</a>
        </div>
      </nav>
    </header>



    <h1>On Project 1</h1>
    <p>Project 1: Calculator <br> 
      Project 2: Unit Converter <br>
      Project 3: Ride PLanner <br>
      Project 4: Budget <br>
      Project 5: Travel PLanner
    </p>
    
    <p>TODO Project 1 <br>
        -Make a Menu System <br>
        - Make secondary window as child of this one. 
    </p>


  </body>
</html>
